<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/admin-custom-min.css">
    <link rel="stylesheet" href="/static/css/admin-style.css" media="screen">
    <title>Dragon Assassins</title>
</head>
<body class = 'animus-bg'>
<div>
    <div class="jumbotron">
        <form action='/assassins/admin/reviveplayersubmit/' method='POST'>
            <div style="text-align: center">
                <h1>Revive Player</h1>
                <br>
            </div>
            <div class="form-group">

                <label for="token">Select player to revive:</label>
                <select name='user_id' id='target_id' class='form-control'>
                    {% for user in deadplayer %}
                        <option value='{{user[0]}}'>{{user[1]}} ({{user[2]}})</option>
                    {% endfor %}
                </select>

                <label for="target">Select new target:</label>
                <select name='target_id' id='target_id' class='form-control'>
                    {% for user in data %}
                        <option value='{{user[0]}}'>{{user[1]}} ({{user[2]}}) {% if user[3] %} {% else %} -DEAD {% endif %}</option>
                    {% endfor %}
                </select>


                <label for="task">New Task</label>
                <input type="task" class="form-control" id="task" name = "task" placeholder="task">
            </div>
            <br>
            <div style="text-align: center">
                <input type='submit' value='Submit' class='btn btn-danger'>
            </div>
        </form>
    </div>
    <br>

    <div style="text-align: center">
        <a href='/assassins/admin/dashboard/' class='btn btn-danger'>Back to admin page</a>
    </div>
</div>
</body>
</html>
