<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin-custom-min.css">
    <link rel="stylesheet" href="../static/css/admin-style.css" media="screen">
    <title>Dragon Assassins Admin</title>

</head>
<body class = 'animus-bg'>
<div>
    <div style="text-align: center">
        <h1>Hello Admin</h1>
        <br>
    </div>
    <div>

        <table id="playerdata" class ="table table-hover table-active">
            <thead>
            <tr>
                <th scope = "col">Player</th>
                <th scope = "col">Nickname</th>
                <th scope = "col">Task</th>
                <th scope = "col">Target</th>
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    {% for d in row %}

                        <td>{{ d }}</td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div style="text-align:center">
        </br>
        <input type='submit' value='Add Player' class='btn btn-danger' onclick="return addPlayer();">

        <input type='submit' value='Edit Player' class='btn btn-danger' onclick="return editPlayer();">

        <input type='submit' value='Revive Player' class='btn btn-danger' onclick="return revivePlayer();">
    </div>
</div>
</body>

<script>
    function addPlayer() {
        window.location.href = "/assassins/addplayer";
        return false;
    }

    function editPlayer() {
        window.location.href = "/assassins/editplayer";
        return false;
    }

    function revivePlayer() {
        window.location.href = "/assassins/reviveplayer";
        return false;
    }
</script>
</html>
