<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin-custom-min.css">
    <link rel="stylesheet" href="../static/css/admin-style.css" media="screen">
    <title>Dragon Assassins</title>
</head>
<body class = 'animus-bg'>
    <div>
       <form>
  <fieldset>
    <div class="form-group">
      <label for="exampleInputToken">Token</label>
      <input type="token" class="form-control" id="exampleInputToken" placeholder="Enter token">
    </div>
  </fieldset>
       <div>
            <input type="submit" class="btn btn-danger" onclick="return submitForm();">
       </div>
       </form>
           <br>
        <div>
            <input type='submit' value='Back to admin page' class='btn btn-danger' onclick="return back();">
        </div>
    </div>

    <script>
        function submitForm() {
            window.location.href = "/assassins/admin/deleteplayer" ;
            return false;
        }
        function back(){
            window.location.href = "/assassins/admin";
        }
    </script>
</body>
</html>
