<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin-custom-min.css">
    <link rel="stylesheet" href="../static/css/admin-style.css" media="screen">
    <title>Dragon Assassins</title>
</head>
<body class = 'animus-bg'>
<div>
    <div class="jumbotron">
    <form action='/assassins/admin/editplayersubmit' method='POST'>
        <div style="text-align: center">
            <h1>Edit Player</h1>
            <br>
        </div>
        <div class="form-group">

            <label for="token">Token of player to edit</label>
            <input type="token" class="form-control" id="token" placeholder="token">

            <label for="name">New Name</label>
            <input type="name" class="form-control" id="name" placeholder="name">

            <label for="nickname">New Nickname</label>
            <input type="nickname" class="form-control" id="nickname" placeholder="nickname">

            <label for="target">New Target</label>
            <input type="target" class="form-control" id="target" placeholder="target">

            <label for="task">New Task</label>
            <input type="task" class="form-control" id="task" placeholder="task">
        </div>
        <br>
        <div style="text-align: center">
            <input type='submit' value='Submit' class='btn btn-danger' onclick="submitForm()">
        </div>
    </form>
    </div>
    <br>

    <div style="text-align: center">
        <input type='submit' value='Back to admin page' class='btn btn-danger' onclick="return back();">
    </div>
</div>

<script>
    function submitForm() {
        window.location.href = "/assassins/admin/editplayersubmit" ;
        return false;
    }
    function back(){
        window.location.href = "/assassins/admin";
    }
</script>
</body>
</html>
