<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="/assassins/static/css/admin-custom-min.css">
    <link rel="stylesheet" href="/assassins/static/css/admin-style.css" media="screen">
    <title>Dragon Assassins Admin</title>

</head>
<body class = 'animus-bg'>
<div>
    <div style="text-align: center">
        <h1>Hello Admin</h1>
        <br>
    </div>
    {% if success %}
    <div class='alert alert-dismissible alert-success'>{{success}}</div>
    {% endif %}
    <div>
        {% if pending %}
        <h2>Pending Confirmation</h2>
        <table class ="table table-hover">
            <thead>
            <tr>
                <th scope = "col">Assassin</th>
                <th scope = "col">Target</th>
                <th scope = "col">Task</th>
                <th scope = 'col'>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for row in pending %}
                <tr>
                    <td>{{row[0]}} (<code>{{row[1]}}</code>)</td>
                    <td>{{row[3]}} (<code>{{row[4]}}</code>)</td>
                    <td>{{row[2]}}</td>
                    <td>
                        <a href='/assassins/admin/killConfirm/confirm/{{row[5]}}/' class='btn btn-danger'>Confirm</a>
                        <a href='/assassins/admin/killConfirm/reject/{{row[5]}}/' class='btn btn-danger'>Reject</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h2>Players</h2>
        <table class ="table table-hover">
            <thead>
                <tr>
                    <th scope = "col">Real Name</th>
                    <th scope = "col">Nickname</th>
                    <th scope = "col">Token</th>
                    <th scope = "col">Status</th>
                    <th scope = "col">Kills</th>
                    <th scope='col'>Telegram Linked</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr {%if not user[3] %}style='font-style:italic;'{% endif %}>
                    <td>{{user[0]}}</td>
                    <td><code>{{user[1]}}</code></td>
                    <td><a href='/assassins/{{user[2]}}/' class='btn btn-info'>{{user[2]}}</a></td>
                    <td>{% if user[3] %}Alive{% else %}Dead{% endif %}</td>
                    <td>{{user[4]}}</td>
                    <td>{% if user[5] %}Yes{% else %}<span class='text-danger'>No</span>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Completed Contracts</h2>
        <table id="playerdata" class ="table table-hover">
            <thead>
            <tr>
                <th scope = "col">Assassin</th>
                <th scope = "col">Target</th>
                <th scope = "col">Task</th>
                <th scope = "col">Completed</th>
            </tr>
            </thead>
            {% for row in completed %}
                <tr>
                    <td>{{row[0]}} (<code>{{row[1]}}</code>)</td>
                    <td>{{row[3]}} (<code>{{row[4]}}</code>)</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
            {% endfor %}
        </table>
            
        <h2>Current Contracts</h2>
        <table class ="table table-hover">
            <thead>
            <tr>
                <th scope = "col">Assassin</th>
                <th scope = "col">Target</th>
                <th scope = "col">Task</th>
            </tr>
            </thead>
            <tbody>
            {% for row in upcoming %}
                <tr>
                    <td>{{row[0]}} (<code>{{row[1]}}</code>)</td>
                    <td>{{row[3]}} (<code>{{row[4]}}</code>)</td>
                    <td>{{row[2]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="text-align:center">
        </br>
        <a href='/assassins/admin/addplayer/' class='btn btn-danger'>Add Player</a>
        <a href='/assassins/admin/editplayer/' class='btn btn-danger'>Edit Player</a>
        <a href='/assassins/admin/reviveplayer/' class='btn btn-danger'>Revive Player</a>
        <a href='/assassins/admin/deleteplayer/' class='btn btn-danger'>Delete Player</a>
        &nbsp;&nbsp;
        <a href='/assassins/admin/logout/' class='btn btn-warning'>Logout</a>
    </div>
</div>
</body>
</html>
