<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin-custom-min.css">
    <link rel="stylesheet" href="../static/css/admin-style.css" media="screen">
    <title>Dragon Assassins</title>
</head>
<body class = 'animus-bg'>
<div>
    <div class="jumbotron">
        <form action='/assassins/admin/editplayersubmit' method='POST'>
            <div style="text-align: center">
                <h1>Edit Player</h1>
                <br>
            </div>
            <div class="form-group">

                <label for="token">Token of player to edit</label>
                <input type="token" class="form-control" id="token" name = 'token' placeholder="token">

                <label for="name">New Name</label>
                <input type="name" class="form-control" id="name" name = 'name' placeholder="name">

                <label for="nickname">New Nickname</label>
                <input type="nickname" class="form-control" id="nickname" name = 'nickname' placeholder="nickname">

                <label for="target">New Target</label>
                <input type="target" class="form-control" id="target" name = 'target' placeholder="target">

                <label for="task">New Task</label>
                <input type="task" class="form-control" id="task" name = 'task' placeholder="task">
            </div>
            <br>
            <div style="text-align: center">
                <input type='submit' value='Submit' class='btn btn-danger'>
            </div>
        </form>
    </div>
    <br>

    <div style="text-align: center">
        <a href='/assassins/admin/dashboard/' class='btn btn-danger'>Back to admin page</a>
    </div>
</div>
</body>
</html>
