<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'player-style.css') }}">
    <title>Dragon Assassins</title>
</head>
<body>
    <div>
        <h1>Welcome, {{user_name}}!</h1>
        Your nickname: <span class='highlight'>{{user_nick}}</span><br />
        Your target: <span class='highlight'>{{target}}</span><br />
        Your task: <span class='highlight'>{{task}}</span><br />
        <a class='button' href=''>Contract completed</button>
    </div>
</body>
</html>